#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --layout-background-color: lightgray;
  --header-background-color: white;
  --header-text-color: black;
  --menu-background-color: green;
  --menu-text-color: white;
  --body--background-color: white;
  --body-text-color: black;
  --edit-background-color: white;
  --edit-header-background-color: green;
  --edit-body-background-color: white;
  --edit-footer-background-color: white;
  --edit-header-text-color: white;
  --edit-body-text-color: black;
  --edit-footer-text-color: black;
  --footer-background-color: white;
  --footer-text-color: black;
  --add-background-color: green;
  --add-text-color: white;
  --modify-background-color: blue;
  --modify-text-color: black;
  --delete-background-color: red;
  --delete-text-color: white;
  --rename-background-color: rgb(0, 255, 85);
  --rename-text-color: black;
  --duplicate-background-color: rgb(0, 255, 85);
  --dupicate-text-color: black;
  --list-background-color: yellow;
  --list-text-color: black;
  --inactive-background-color: rgb(122, 122, 122);
  --inactive-text-color: black;
  --large-font-size: 24pt;
  --small-font-size: 12pt;
  --error-background-color: red;
  --info-background-color: white;
  --error-text-color: white;
  --info-info-color: black;
  --yes-background-color: green;
  --yes-text-color: white;
  --no-background-color: red;
  --no-text-color: white;
  --submit-background-color: green;
  --submit-text-color: white;
  --ok-background-color: green;
  --ok-text-color: white;
  --cancel-background-color: red;
  --cancel-text-color: white;
  --modal-background-color: white;
  --modal-header-background-color: rgb(49, 175, 49);
  --modal-header-color: white;
  --modal-body-background-color: white;
  --modal-body-color: black;
  --modal-footer-background-color: rgb(49, 175, 49);
  --modal-footer-color: white;
}
.layout {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background-color: var(--layout-background-color);
  width: 100%;
  height: 100%;
  text-align: left;
  display: grid;
  grid-template-rows: 80px 1fr 40px;
  grid-template-areas:
    "header"
    "body"
    "footer";
  .header {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    position: absolute;
    grid-area: header;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 80px 700px 1fr 780px;
    grid-template-areas: "icon menu title .";
    gap: 0;
    .icon {
      grid-area: icon;
    }
    .menu {
      grid-area: menu;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: "note speed attack duration volume pan";
      gap: 2px;
      text-align: center;
      font-size: var(--small-font-size);
      background-color: var(--header-background-color);
      .note {
        grid-area: note;
        display: block;
        background-color: var(--menu-background-color);
      color: var(--menu-text-color);
      width: 80px;
      height: 40px;
      z-index: 2;
      }
      .speed {
        grid-area: speed;
        display: block;
        background-color: var(--menu-background-color);
      color: var(--menu-text-color);
      width: 80px;
      height: 40px;
      }
      .attack {
        grid-area: attack;
        display: block;
        background-color: var(--menu-background-color);
      color: var(--menu-text-color);
      width: 80px;
      height: 40px;
      }
      .duration {
        grid-area: duration;
        display: block;
        background-color: var(--menu-background-color);
      color: var(--menu-text-color);
      width: 80px;
      height: 40px;
      }
      .volume {
        grid-area: volume;
        display: block;
        background-color: var(--menu-background-color);
      color: var(--menu-text-color);
      width: 80px;
      height: 40px;
      }
      .pan {
        grid-area: pan;
        display: block;
        background-color: var(--menu-background-color);
      color: var(--menu-text-color);
      width: 80px;
      height: 40px;
      }
    }
    .title {
      grid-area: title;
      text-align: center;
      font-size: 30pt;
      font-weight: bold;
    }
  }
  .body {
    display: grid;
    grid-area: body;
    grid-template-columns: 600px 1fr 600px;
    grid-template-areas: "sequence edit tag";
    gap: 0;
    width: 100%;
    height: 100%;
    .sequence {
      display: block;
      grid-area: sequence;
    }
    .edit {
      display: grid;
      width: 70%;
      grid-area: edit;
      grid-template-rows: 40px 1fr 50px;
      grid-template-areas:
        "edit-header"
        "edit-body"
        "edit-footer";
      text-align: center;
      align-self: start;
      margin-top: 100px;
      background-color: var(--edit-background-color);
      border: black;
      border-width: 2px;
      .edit-header {
        grid-area: edit-header;
        display: block;
        width: 100%;
        text-align: center;
        background-color: var(--edit-header-background-color);
        color: var(--edit-header-text-color);
      }
      .edit-body {
        grid-area: edit-body;
        display: block;
        width: 100%;
        height: 100%;
        text-align: left;
        background-color: var(--edit-body-background-color);
        color: var(--edit-body-text-color);
      }
      .edit-footer {
        grid-area: edit-footer;
        display: block;
        text-align: left;
        width: 100%;
        top: auto;
        left: 0;
        bottom: 0;
        background-color: var(--edit-footer-background-color);
        color: var(--edit-footer-text-color);
      }
    }
    .tag {
      display: block;
      grid-area: tag;
      overflow: auto;
      overflow-x: hidden;
    }
  }
  .footer {
    display: block;
    grid-area: footer;
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    position: fixed;
    width: 100%;
    top: auto;
    left: 0;
    bottom: 0;
    font-size: 16pt;
    text-align: left;
  }
}
.addbutton {
  background-color: var(--add-background-color);
  color: var(--add-text-color);
  font-size: var(--large-font-size);
}
.editbutton {
  background-color: var(--modify-background-color);
  color: var(--modify-text-color);
  background-color: lightgreen;
  font-size: var(--large-font-size);
}
.deletebutton {
  background-color: var(--delete-background-color);
  color: var(--delete-text-color);
  font-size: var(--large-font-size);
}
.renamebutton {
  background-color: var(--rename-background-color);
  color: var(--delete-rename-color);
  font-size: var(--large-font-size);
}
.duplicatebutton {
  background-color: var(--duplicate-background-color);
  color: var(--delete-duplicate-color);
  font-size: var(--large-font-size);
}
.listbutton {
  background-color: var(--list-background-color);
  color: var(--list-text-color);
  font-size: var(--large-font-size);
}
.inactivebutton {
  background-color: var(--inactive-background-color);
  color: var(--inactive-text-color);
  font-size: var(--large-font-size);
}
.yesbutton {
  background-color: var(--yes-background-color);
  color: var(--yes-text-color);
  font-size: var(--large-font-size);
}
.nobutton {
  background-color: var(--no-background-color);
  color: var(--no-text-color);
  font-size: var(--large-font-size);
}
.okbutton {
  background-color: var(--ok-background-color);
  color: var(--ok-text-color);
  font-size: var(--small-font-size);
}
.submitbutton {
  background-color: var(--submit-background-color);
  color: var(--submit-text-color);
  font-size: var(--small-font-size);
}
.cancelbutton {
  background-color: var(--cancel-background-color);
  color: var(--cancel-text-color);
  font-size: var(--small-font-size);
}
.errormessage {
  background-color: var(--error-background-color);
  color: var(--error-text-color);
  font-size: var(--small-font-size);
}
.infomessage {
  background-color: var(--info-background-color);
  color: var(--info-text-color);
  font-size: var(--small-font-size);
}
label {
  font-size: var(--small-font-size);
}
input {
  font-size: var(--small-font-size);
}
textarea {
  font-size: var(--small-font-size);
}
div {
  font-size: var(--small-font-size);
}
h1 {
  font-size: var(--large-font-size);
}
p {
  font-size: var(--small-font-size);
  margin: 0;
}
a {
  font-weight: 500;
  background-color: var(--submit-background-color);
  color: var(--submit-text-color);
  text-decoration: inherit;
  margin: 5px;
}
a:hover {
  color: #535bf2;
}

table,
th,
td {
  border: 1px solid black;
}
button {
  border-radius: 8px;
  border: 2px solid transparent;
  margin: 0.1em 1.0em 0.1em 1.0em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: pink;
}
button:disabled {
  background-color: lightgray;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.modal {
  position: absolute;
  display: grid;
  left: 700px;
  top: 100px;
  z-index: 10;
  background-color: var(--modal-background-color);
  margin: 0;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "modal-header"
    "modal-body"
    "modal-footer";
  .modal-header {
    display: block;
    grid-area: modal-header;
    background-color: var(--modal-header-background-color);
    color: var(--modal-header-text-color);
    font-size: var(--large-font-size);
    text-align: center;
  }
  .modal-body {
    display: block;
    grid-area: modal-body;
    background-color: var(--modal-body-background-color);
    color: var(--modal-body-text-color);
    font-size: var(--small-font-size);
    text-align: left;
    overflow: auto;
    overflow-x: hidden;
  }
  .modal-footer {
    display: block;
    grid-area: modal-footer;
    background-color: var(--modal-footer-background-color);
    color: var(--modal-footer-text-color);
    font-size: var(--large-font-size);
    width: 100%;
    top: auto;
    left: 0;
    bottom: 0;
  }
}
